.landing-features {
    margin-top: 5rem;
    padding: 1rem;
}

.features-head {
    text-align: center;
}

.features-title {
    color: black;
    font-weight: 800;
    font-size: 3rem;
}

.features-subtitle {
    color: black;
    font-size: 1.2rem;
    margin-top: 20px;
}

.features {
    padding: 24px;
    margin-top: 28px;
}

